<div class='container'>
	<div class='row'>
		<div class='col-sm-12'>
			<h1>Channel Settings</h1>
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-12'>
			<p>
				The channel settings will go here.
			</p>
		</div>
	</div>
	<div class='row'>
		<div class='col-sm-12'>
			<% channels.forEach(function(channel) { %>
		        <li><%= channel.name %> - <%= channel.r %> - <%= channel.g %></li>
		    <% }); %>
    	</div>
    </div>
</div>