<div  ng-controller='ScheduleCtrl' >


	<div ng-repeat='setting	in schedule | orderBy: "time"'>
		<span> The time is  
			<uib-timepicker ng-model="setting.time" minute-step="5"></uib-timepicker>
		</span>
	</div>
	
</div>