<div ng-controller='SettingsCtrl' class='container'>
	
	<div ng-repeat='setting in settings | orderBy: "port"' class='col-sm-4'>
		<channel-setting setting='setting' ></channel-setting>		
	</div>
	
</div>
