<div ng-controller='SettingsCtrl' class='container'>
	
	<div class='row'>
		<div class='col-md-4' ng-repeat='setting in settings | orderBy: "port"' ng-controller='SettingCtrl'>
			<div class='well' style='background:rgb({{setting.red}},{{setting.green}},{{setting.blue}}); color: {{getTextColor(setting.red, setting.green, setting.blue)}};'>
				<form name="form_{{$id}}" novalidate>
					<h4 class='text-center'>Port {{setting.port}}</h4>		  		
					<label for='color_{{$id}}'>Color</label>
					<input type='text' class='form-control' id='color_{{$id}}' ng-model='setting.color' />
					<div class='row hidden-sm hidden-xs mt10'>
						<div class='col-md-4 text-center'>R</div>
						<div class='col-md-4 text-center'>G</div>
						<div class='col-md-4 text-center'>B</div>
					</div>
					<div class='row'>
						<div class='col-md-4'>
						<label class='visible-sm visible-xs mt10'>R</label>
						<input type='number' min='0' max='255' class='form-control' id='red_{{$id}}' ng-model='setting.red'>
						</div>
						<div class='col-md-4'>
						<label class='visible-sm visible-xs mt10'>G</label>
							<input type='number' min='0' max='255' class='form-control'  id='green_{{$id}}' ng-model='setting.green'>
						</div>
						<div class='col-md-4'>
						<label class='visible-sm visible-xs mt10'>B</label>
							<input type='number' min='0' max='255' class='form-control'  id='blue_{{$id}}' ng-model='setting.blue'>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>