<html>
<head>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<script src='/scripts/jquery.js'></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src='/scripts/color.js'></script>
	<script src='/scripts/channelEditor.js'></script>
	<script src='/scripts/ajaxq.js'></script>
	<style>
		body{
			background: blue;
		}
		
		#myWidget{
			float:left;
		}
		
		#container{
			padding: 8px;
			border-radius: 8px;
			background: lightskyblue;
		}
		/*
		#swatch{
			border-style: solid;
			border-width:2px;
			border-color:black;
			height:200px; 
			width:200px; 
			background:black;
			float:right;
			border-radius: 4px;
		}*/
	</style>
</head>
<body>
	<div id='container'>
		<div id='myWidget'></div>
		<!--<div id='swatch'></div>
		<div style="clear:both"></div>
		-->
	</div>
	<script>
	
		$(function(){
			var model = <%- JSON.stringify(setting) %>;
			var channels = new Array();
			for(var i = 0; i < model.length; i++){
				channels.push({
					name: model[i].name, 
					color: new Color(model[i].r, model[i].g, model[i].b, model[i].value)
				});
			}
			
			$('#myWidget').width($('body').width() - $('#swatch').width() -10);
			$('#myWidget').channelEditor({
				channels:channels,
				change: channelChange
			});
		});
		
		function channelChange(data){
			var vals = [];
			for(var i= 0; i < data.length; i++){
				vals[i] = data[i].color.a;
			}
			$.ajaxq('led', {
				type: 'POST',
				url: 'direct/update',
				cache: false,
				data: {'channels': vals}				
			});
		}
	</script>
</body>
</html>