<html>
<head>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<script src='/scripts/jquery.js'></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src='/scripts/color.js'></script>
	<script src='/scripts/channelEditor.js'></script>
	<script src='/scripts/ajaxq.js'></script>
	<style>
		body{
			background: blue;
			margin: 0px;
		}
		
		.header{
			color: white;
			background: black;
			width:100%:
		}
		
		#myWidget{
			float:left;
		}
		
		.content{
			padding: 8px;
			border-radius: 8px;
			background: lightskyblue;
			margin: 5px;
		}
	</style>
</head>
<body>
	<div class='header'>
		<h1>Direct Light Control</h1>
	</div>
	<div class='content'>
		<input type='radio' name='mode' value='direct' <% if(mode == 'direct'){ %> checked='checked' <% } %>>Direct</input>
		<input type='radio' name='mode' value='schedule' <% if(mode == 'schedule'){ %> checked='checked' <% } %>>Schedule</input>
	</div>
	<div id='container' class='content'>
		<div id='myWidget'></div>
	</div>
	<script>
	
		$(function(){
			var model = <%- JSON.stringify(setting) %>;
			var channels = new Array();
			for(var i = 0; i < model.length; i++){
				channels.push({
					name: model[i].name, 
					color: new Color(model[i].r, model[i].g, model[i].b, model[i].value)
				});
			}
			
			$('#myWidget').width($('body').width() - $('#swatch').width() -10);
			$('#myWidget').channelEditor({
				channels:channels,
				change: channelChange
			});
			
			$(':radio').click(function(){
				console.log($(this).val());
				var mode = {mode: $(this).val()};
				$.post('direct/setMode', mode);
			});
		});
		
		function channelChange(data){
			var vals = [];
			for(var i= 0; i < data.length; i++){
				vals[i] = data[i].color.a;
			}
			$.ajaxq('led', {
				type: 'POST',
				url: 'direct/update',
				cache: false,
				data: {'channels': vals}				
			});
		}
	</script>
</body>
</html>